{% extends 'base.html' %}

{% block content %}

{% load widget_tweaks %}
{% load humanize %}

<div class="card mx-auto" style="width: 76rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
        <h5 class="card-title mb-4">Manage Your Applications</h5>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Position Title</th>
                    <th scope="col">Location</th>
                    <th scope="col">Salary </th>
                    <th scope="col">Opening Type</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Industry</th>
                    <th scope="col">Date Submitted</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{job.job.title}}</td>
                    <td>{{job.job.city}}, {{job.job.state}}</td>
                    <td>${{job.job.salary|intcomma}}</td>
					<td>{{job.job.job_type}}</td>
					<td>{{job.job.duration}}</td>
					<td>{{job.job.industry}}</td>
                    <td>{{job.job.timestamp}}</td>
                    <td><a href="{% url 'job-details' job.job.pk %}"><small>Details</small></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>


{% endblock content %}