{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold">{{job.title}}</h2>
            <p class="col-md-8 fs-5 mt-3">
                {{job.country}}, {{job.state}}, {{job.city}} | {{job.job_env}} | USD{{job.salary|intcomma}}
            </p>

            <p class="col-md-8 fs-10 mt-3">Application Deadline: {{job.deadline}}</p>

            {% if user.is_authenticated and request.user.is_applicant %}
                {% if has_applied == False %}
                <a href="{% url 'apply-to-job' job.pk %}" class="btn btn-primary btn-lg">Apply Now</a>
                {% else %}
                <p><span class="text-danger">You have already applied for this opening</span></p>
                {% endif %}
            {% elif user.is_authenticated and request.user.is_recruiter %}
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login to Apply</a>
            {% endif %}

            <!--{% if user.is_authenticated and request.user.is_applicant and request.user.is_verified %}
                {% if has_applied == False %}
                    <a href="{% url 'apply-to-job' job.pk %}" class="btn btn-primary btn-lg">Apply Now</a>
                {% else %}
                    <p><span class="text-danger">You have already applied for this job</span></p>
                    <a href="{% url 'delete-application' job.pk %}" class="btn btn-primary btn-lg">Revoke Application</a>
                {% endif %}
            {% elif user.is_authenticated and request.user.is_recruiter and request.user.is_verified %}
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login to Apply</a>
            {% endif %} -->
        </div>
    </div>
</section>
            
<div>
    <section>
        <h5>Opening Timeline</h5>
        <p>
           This oppoerunity will last over a period of <i>{{job.duration}}</i> and it is a <i>{{job.job_type}}</i> posision.
        </p>
    </section>
</div> <br>

<div>
    <section>
        <h5>The Feild of Sustainability/Conservation</h5>
        <p class="col-md-8 fs-10 mt-3">
            {{job.field}}
        </p>
    </section>
</div> <br>

<div>
    <section>
        <h5>Job Requiements</h5>
        <p>
           {{job.requirements}}
        </p>
    </section>
</div> <br>

<div>
    <section>
        <h5>Ideal Candidate</h5>
        <p>
           {{job.ideal_candidate}}
        </p>
    </section>
</div> <br>

<div class="row">
    <div class="row">
        <div class="card h-100">

            <div class="card-body">
                <h5 class="card-title pb-2">About the Company</h5>
                <p class="card-text">Name: {{job.company.name}}</p>
                <p class="card-text">Main Industry: {{job.company.company_industry}}</p>
                <p class="card-text">Location: {{job.company.street}}, {{job.company.city}}, {{job.company.state}}, {{job.company.country}}</p>
                <p class="card-text">Established Year: {{job.company.est_date}}</p>
                <p class="card-text">Contact Adress: +{{job.company.call_adress|phone2numeric}}</p>

            </div>

        </div>
        
    </div>
</div> <br>


{% endblock content %}